* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
}

header {
    padding: 20px 35px;
    background-color: #dca1f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 8px 0;
}

header nav {
    font-size: 28px;
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* took away default hyperlink style */
header nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    background: black;
    color: lavenderblush;
    border-radius: 15px;
    opacity: 0.75;
}

.hero {
    background-image: url("./images/hero-antelope.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 200px;
    width: 100%;
}

.about-me {
    color: white;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.about-me h2 {
    font-size: 36px;
    align-self: flex-start;
    margin: 30px 0;
    padding: 0 50px 0 65px;
    color: lavenderblush;
}

.about-me p {
    flex: 1 200px;
    align-self: flex-start;
    margin: 30px 0;
    border-left: 2px solid white;
    padding-left: 100px;
    line-height: 1.3;
    color: lavenderblush;
}

.contact-me {
    padding: 20px 35px;
    background-color: pink;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.contact-me div a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.contact-me div a:hover {
    background: lavender;
    color: indigo;
    border-radius: 5px;
    opacity: 0.5;
}

.contact-me h2 {
    font-weight: bold;
    font-size: 36px;
    margin: 8px 16px;
}

.contact-me div {
    font-size: 24px;
    margin: 8px 24px;
    padding: 10px 20px;
}

.work {
    background: black;
    color: white;
    display: flex;
}

.work h2 {
    font-size: 36px;
    padding: 0 50px 0 150px;
    color: lavenderblush;
}

.work-grid-wrapper {
    width: 50%;
    margin: 30px 0;
    flex-wrap: wrap;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    border-left: 2px solid white;
    place-content: center;
}

/* created grid boxes */
.work-grid-container {
    background: black;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    color: pink;
    font-size: 20px;
    grid-gap: 15px;
    text-decoration: none;
}

.work-grid-item {
    border: 1px solid white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 20px;
}

.box1 {
    grid-column: 1 / 3;
    grid-row: 1/ 3;
}

.box2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.box1:hover {
    opacity: 0.8;
}

.box2:hover {
    opacity: 0.8;
}

.box3:hover {
    opacity: 0.5;
    background: violet;
}

.box4:hover {
    opacity: 0.5;
    background: violet;
}

.box5:hover {
    opacity: 0.5;
    background: violet;
}

.work-grid-item img {
    max-width: 100%;
    max-height: 200px;
}

.runbuddy-img {
    background-image: url("../css/images/runbuddy-mockup-v2.jpg");
    background-size: cover;
}

.fanpage-img {
    background-image: url("../css/images/fanpagebasic.png");
    background-size: cover;
}

/* header box is clickable link to Run Buddy project, ongoing */
/* to-do: would like to position header box at bottom left */
.work-grid-item #box1-header {
    border: black;
    top: 125px;
    line-height: 0;
    padding: 0 20px;
    background: black;
    border-radius: 15px;
    opacity: 0.75;
    color: violet;
}

/* header box is clickable link to basic html project */
.work-grid-item #box2-header {
    border: black;
    top: 125px;
    line-height: 0;
    padding: 0 10px;
    background: black;
    border-radius: 15px;
    opacity: 0.75;
    color: violet;
}

.runbuddy-img h3 {
    font-size: 28px;
}

.runbuddy-img h4 {
    font-size: 20px;
}

.fanpage-img h3 {
    font-size: 28px;
}

.fanpage-img h4 {
    font-size: 20px;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-flow: column;
    }

    header nav ul li a {
        font-size: 28px;
        line-height: 1.5;
    }
    
    section {
        padding: 30px 15px;
    }

    .about-me {
        display: block;
    }

    .about-me p {
        border-top: 2px solid white; 
        border-left: none;
        padding: 50px 25px;
    }

    .work {
        display: block;
    }

    .work h2 {
        padding-left: 75px;
    }

    .work-grid-wrapper {
        border-top: 2px solid white;
        border-left: none;
        margin: 30px 30px;
        padding: 50px 25px;
    }

    .work-grid-container {
        background: black;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
        border: 1px solid black;
        color: pink;
        font-size: 20px;
        grid-gap: 10px;
        text-decoration: none;
    }

    .work-grid-item {
        border: 1px solid white;
        display: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        border-radius: 20px;
    }

    .box1 {
        grid-column: 1 / 2;
        grid-row: 1/ 3;
    }
    
    .box2 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }

    .contact-me {
        padding: 20px 35px;
        background-color: pink;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    .runbuddy-img h3 {
        font-size: 20px;
    }
    
    .runbuddy-img h4 {
        font-size: 16px;
    }
    
    .fanpage-img h3 {
        font-size: 20px;
    }
    
    .fanpage-img h4 {
        font-size: 16px;
    }
}